

# Create & Access SQLite database using Python



## Objectives
this lab contain:

*   Create a database
*   Create a table
*   Insert data into the table
*   Query data from the table
*   Retrieve the result set into a pandas dataframe
*   Close the database connection

In [1]:
import sqlite3

In [2]:
# connection to sqlite
# connect to object
conn = sqlite3.connect('INSTRUCTOR.db')

Cursor class is an instance using which you can invoke methods that execute SQLite statements, fetch data from the result sets of the queries. You can create Cursor object using the cursor() method of the Connection object/class.

In [3]:
cursor_obj = conn.cursor()

## Task 2: Create a table in the database

In this step we will create a table in the database with following details:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/table.png" align="center">

Before creating a table, let's first if the table already exist or not. To drop the table from a database use **DROP** query. A cursor is an object which helps to execute the query and fetch the records from the database.

In [5]:
# Drop the table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [6]:
# Creating table
table = """ create table IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""
 
cursor_obj.execute(table)
 
print("Table is Ready")

Table is Ready

## Task 3: Insert data into the table

In this step we will insert some rows of data into the table.

The INSTRUCTOR table we created in the previous step contains 3 rows of data:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/table1.png" align="center">

We will start by inserting just the first row of data, i.e. for instructor Rav Ahuja

In [7]:
cursor_obj.execute('''insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')''')

The output you will get something as: <strong>sqlite3.Cursor at 0x27a1a491260</strong> which means mySql database has sqlite3.Cursor object at 0x27a1a49126 as output in table. But you may get the different number.

Now use a single query to insert the remaining two rows of data

In [8]:
cursor_obj.execute('''insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')

## Task 4: Query data in the table

In this step we will retrieve data we inserted into the INSTRUCTOR table.

In [9]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [10]:
## Fetch few rows from the table
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
# If you want to fetch few rows from the table we use fetchmany(numberofrows) and mention the number how many rows you want to fetch
output_many = cursor_obj.fetchmany(2) 
for row_many in output_many:
  print(row_many)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [11]:
# Fetch only FNAME from the table
statement = '''select FNAME from INSTRUCTOR'''
cursor_obj.execute(statement)

print("all the data")
output_column = cursor_obj.fetchall()
for fetch in output_column:
    print(fetch)

all the data
('Rav',)
('Raul',)
('Hima',)

<Strong>Bonus: now write and execute an update statement that changes the Rav's CITY to MOOSETOWN</strong>

In [14]:
query_update = '''update INSTRUCTOR set CITY="MOOSETOWN" where FNAME="Ray"'''
cursor_obj.execute(query_update)

In [16]:
statement = '''select * from INSTRUCTOR'''
cursor_obj.execute(statement)

print('all the data')
output1 = cursor_obj.fetchmany(2)
for row in output1:
    print(row)

all the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

## Task 5: Retrieve data into Pandas

In this step we will retrieve the contents of the INSTRUCTOR table into a Pandas dataframe

In [40]:
import pandas as pd
# Connect to your SQLite database
conn = sqlite3.connect('INSTRUCTOR.db')
#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from INSTRUCTOR;", conn)

#print the dataframe
df

Empty DataFrame
Columns: [ID, FNAME, LNAME, CITY, CCODE]
Index: []

In [42]:
# #print just the LNAME for first row in the pandas data frame
# df.LNAME[0]

In [44]:
import pandas as pd
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('INSTRUCTOR.db')

# SQL query to select all data from a table (replace 'your_table_name' with the actual table name)
query = "SELECT * FROM INSTRUCTOR;"

try:
    # Retrieve the query results into a pandas DataFrame
    df = pd.read_sql_query(query, conn)

    # Print the DataFrame
    print(df)

except Exception as e:
    print("Error:", e)

finally:
    # Close the database connection
    conn.close()

Empty DataFrame
Columns: [ID, FNAME, LNAME, CITY, CCODE]
Index: []

In [34]:
# import pandas as pd

# # Retrieve the query results into a pandas dataframe
# df = pd.read_sql_query("select * from instructor;", conn)

# # Check if the DataFrame is empty
# if not df.empty:
#     # Reset index to start from 0
#     df.reset_index(drop=True, inplace=True)
#     # Access the LNAME of the first row
#     print(df.LNAME[0])
# else:
#     print("DataFrame is empty")

In [36]:
# df.shape()

In [37]:
# conn.close()

In [38]:
import pandas as pd
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('INSTRUCTOR.db')

# SQL query to select all data from a table (replace 'your_table_name' with the actual table name)
query = "SELECT * FROM INSTRUCTOR;"

# Retrieve the query results into a pandas DataFrame
df = pd.read_sql_query(query, conn)

# Close the database connection
conn.close()

# Print the DataFrame
print(df)

Empty DataFrame
Columns: [ID, FNAME, LNAME, CITY, CCODE]
Index: []